.main-content {
  max-width: 800px;
  width: 90%;
  height: 80vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-title {
  padding: 20px 0;
  text-align: center;
}

.main-content h1,
.list-types {
  text-align: center;
}

.list-types a {
  align-items: center;
  display: block;
  padding: 30px 50px;
}

.list-types {
  display: initial;
}

.list-types img {
  height: 64px;
  width: 64px;
}

.type {
  text-align: center;
  display: inline-flex;
  color: #003686;
  width: 90px;
  height: 140px;
  font-family: "Pokemon Solid";
}

.type-unknown {
  display: none;
}
