.history {
  width: 800px;
  height: 80vh;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.history h1,
.history p {
  text-align: center;
}

.history-item {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  height: 80px;
  display: flex;
  align-items: center;
  -webkit-box-pack: justify;
  border-bottom: 1px solid;
  justify-content: center;
}
