.header {
  background-color: #ef5350;
  display: flex;
  justify-content: space-between;
  color: white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  height: 60px;
}

.header .cart {
  display: block;
}

.header .shopping {
  color: #ffde00;
  align-items: center;
  font-size: 18px;
}

.header img {
  height: 3.125rem;
  min-width: 3em;
  padding: 2px;
}
