.side-menu {
  height: 90%;
  width: 30%;
  position: fixed;
  right: 0;
  bottom: 0;
}

.side-menu:after {
  max-height: 1500px;
  background-color: #003686;
  height: 77px;
  color: white;
  text-align: left;
  vertical-align: middle;
}

.side-menu .title h2 {
  color: #cc0000;
  text-align: center;
}

.subtotal {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.side-menu-content {
  height: 75%;
  overflow-y: auto;
  position: relative;
}

.remove-button img {
  width: 20px;
  height: 20px;
}

.remove-button {
  border: none !important;
  background-color: white !important;
  cursor: pointer;
}

.close-button {
  outline: none;
  border: none;
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  top: 20px;
  right: 20px;
  position: absolute;
  cursor: pointer;
}

.modal h2,
.modal h3,
.modal p {
  text-align: center;
}

@keyframes success-animation {
  from {
    width: 10px;
  }
  to {
    width: 100px;
  }
}

.modal img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-self: center;
  animation-name: success-animation;
  animation-duration: 2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item {
  width: 100%;
  height: 80px;
  color: rgb(0, 0, 0);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  border-bottom: 1px solid;
  justify-content: center;
}

.purchase {
  width: 100%;
  height: 80px;
  display: inline-table;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: center;
}
